<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="card">
  <div class="card-header"><strong>
    	{{ customer_record.First_Name }}
		{{ customer_record.Last_Name }}</strong>
  </div>
  <div class="card-body">



<p class="card-text">
<strong>Birth Date: </strong>{{ customer_record.Birth_Date }}</p>

<p class="card-text">
<strong>Age: </strong>{{ customer_record.calc_age }}
</p>

<p class="card-text">
<strong>ID: </strong>{{ customer_record.id }}</p>


  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-danger">Update</a>
</body>
</html>